<a id='Introduction'></a>
# Working with Pandas

### Created by Joshua Bay, REHS Internship, 2019

In this tutorial, we will look at Pandas, a data analysis toolkit for Python. We will learn how to read a CSV file and edit the series or dataframe that is created. More information about Pandas can be found here: https://pandas.pydata.org/pandas-docs/stable/dsintro.html

Here's a few quick definitions and images before we get started:
- Series: One-dimensional labeled array capable of holding any data type
![alt text](seriesexample.png "Series Example")
- DataFrame: Two-dimensional labeled data structure with columns of potentially different types
![alt text](dataframeexample.png "Dataframe Example")

Table of Contents:

[Introduction](#Introduction)

[Creating your own CSV file](#Creating your own CSV file)

[Getting Started](#Getting Started)

[Working With Rows and Columns](#Working With Rows and Columns)

[Data Operations](#Data Operations)

[Deleting Rows and Columns](#Deleting Rows and Columns)

[Filtering the Outputs](#Filtering the Outputs)

[Fixing Missing Data](#Fixing Missing Data)

[Using Numpy with Pandas](#Using Numpy with Pandas)

[Using Other File Formats in Pandas](#Using Other File Formats in Pandas)

[Summary](#Summary)

<a id='Creating your own CSV file'></a>
## Creating your own CSV file

In this tutorial, you can either follow along using the data that I have provided, or get your own to analyze. Below are instructions to gather data from Google Trends. If you do not want to gathter new data, you can skip this cell.

- Go to https://trends.google.com/trends/?geo=US
- Search for multiple terms that you want to compare
- When you are satisfied with your search terms, click on the download symbol above the graph titled "Interest over time"
![alt text](graphexample2.png "Example Graph")
- Now import the file into a new Google Sheets. File > Import > Upload and select the file. It will probably be named "multiTimeline.csv"
- A popup will appear. Click "Import Data", then click "Open now" which appears at the top of the popup
![alt text](popupexample.png "Popup Example")
- Your data will now appear in a sheet and we just have to clean it up a little
![alt text](sheetsexample.png "Sheets Example")
- Remove the block that says "Week"
- Now we need to download the file as a CSV file. File > Download as > Comma-Seperated Values (.csv, current sheet). Move the downloaded file into the same folder as your new jupyter notebook on your computer. Make sure to rename the file so it is easy to copy into the jupyter notebook. This allows you to read the file in the next steps

<a id='Getting Started'></a>
## Getting Started

First we need to import pandas. We can follow that with "as pd" so we don't have to write pandas every time we want to use one of the methods that pandas contains.

In [93]:
import pandas as pd

Now we are ready to start looking at the data. We will use the command pd.read_csv() and the variable df. Inside the parentheses, we will write the name of the CSV file we downloaded, the column that we want to serve as the column farthest to the left, and the amount of rows we want to skip from the top of the file. Feel free to mess with any of the values and see what the different results are!

In [94]:
df = pd.read_csv('TrendsData.csv', index_col=0, skiprows=2)

Now that we have the CSV file read, we can start to look at the data. head() will show the first five rows of data, and tail() will show the last 5 rows of data. You can change the amount of rows you see by changing the number you pass into the parentheses.

In [95]:
df.head()

,Minecraft: (United States),Fortnite: (United States),World of Warcraft: (United States),Overwatch: (United States),Rocket League: (United States)
2018-07-29,27,82,15,7,3
2018-08-05,26,84,15,7,3
2018-08-12,24,76,22,6,2
2018-08-19,22,88,20,6,2
2018-08-26,20,80,18,7,3

In [96]:
df.tail(3)

,Minecraft: (United States),Fortnite: (United States),World of Warcraft: (United States),Overwatch: (United States),Rocket League: (United States)
2019-07-07,60,41,10,4,2
2019-07-14,66,47,9,5,2
2019-07-21,68,44,9,7,3

You can also just write the variable name to see the entire dataframe.

In [97]:
df

,Minecraft: (United States),Fortnite: (United States),World of Warcraft: (United States),Overwatch: (United States),Rocket League: (United States)
2018-07-29,27,82,15,7,3
2018-08-05,26,84,15,7,3
2018-08-12,24,76,22,6,2
2018-08-19,22,88,20,6,2
2018-08-26,20,80,18,7,3
2018-09-02,19,75,17,5,3
2018-09-09,18,68,14,5,2
2018-09-16,19,71,13,5,2
2018-09-23,18,100,12,4,2
2018-09-30,19,78,10,5,2
2018-10-07,19,79,9,7,2
2018-10-14,18,72,9,4,2
2018-10-21,18,75,8,5,2
2018-10-28,17,67,9,8,2
2018-11-04,18,66,9,8,2
2018-11-11,19,60,8,6,2
2018-11-18,25,65,8,7,3
2018-11-25,20,66,7,5,2
2018-12-02,21,91,7,6,2
2018-12-09,23,73,8,6,2
2018-12-16,26,75,7,5,2
2018-12-23,28,91,8,5,3
2018-12-30,25,77,8,5,3
2019-01-06,21,64,7,7,2
2019-01-13,22,69,6,5,2
2019-01-20,25,60,7,6,3
2019-01-27,26,82,7,5,3
2019-02-03,23,66,7,4,2
2019-02-10,23,75,7,4,2
2019-02-17,26,66,6,5,3
2019-02-24,24,79,6,6,2
2019-03-03,24,55,7,4,2
2019-03-10,25,55,8,4,2
2019-03-17,25,50,7,4,2
2019-03-24,26,50,7,3,2
2019-03-31,24,50,7,4,2
2019-04-07,24,49,7,4,2
2019-04-14,26,50,7,5,2
2019-04-21,29,53,7,4,2
2019-04-28,31,49,7,4,2
2019-05-05,33,62,7,4,2
2019-05-12,42,49,10,4,2
2019-05-19,43,46,11,5,2
2019-05-26,42,43,11,4,2
2019-06-02,41,42,10,5,2
2019-06-09,40,39,9,4,2
2019-06-16,40,42,10,4,3
2019-06-23,48,44,11,4,3
2019-06-30,56,42,11,4,3
2019-07-07,60,41,10,4,2
2019-07-14,66,47,9,5,2
2019-07-21,68,44,9,7,3

In addition to looking at the whole DataTable, you can look at just the titles of the rows and columns by using the commands columns and index.

In [98]:
df.columns

Index(['Minecraft: (United States)', 'Fortnite: (United States)',
       'World of Warcraft: (United States)', 'Overwatch: (United States)',
       'Rocket League: (United States)'],
      dtype='object')

In [99]:
df.index

Index(['2018-07-29', '2018-08-05', '2018-08-12', '2018-08-19', '2018-08-26',
       '2018-09-02', '2018-09-09', '2018-09-16', '2018-09-23', '2018-09-30',
       '2018-10-07', '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
       '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02', '2018-12-09',
       '2018-12-16', '2018-12-23', '2018-12-30', '2019-01-06', '2019-01-13',
       '2019-01-20', '2019-01-27', '2019-02-03', '2019-02-10', '2019-02-17',
       '2019-02-24', '2019-03-03', '2019-03-10', '2019-03-17', '2019-03-24',
       '2019-03-31', '2019-04-07', '2019-04-14', '2019-04-21', '2019-04-28',
       '2019-05-05', '2019-05-12', '2019-05-19', '2019-05-26', '2019-06-02',
       '2019-06-09', '2019-06-16', '2019-06-23', '2019-06-30', '2019-07-07',
       '2019-07-14', '2019-07-21'],
      dtype='object')

The shape command will give you the shape of your data. In this example, it is 52 rows down by 5 rows across. The size command works the same way, but gives you the total amount of numbers you have entered. It multiplies the number of rows by columns (52 * 5 = 260). Next, the len() command will give you one of the values that shpae does, depending on what you pass into the parentheses. Passing index will give you the amount of rows, and passing columns will give you the amount of columns.

In [100]:
df.shape

(52, 5)

In [101]:
df.size

260

In [102]:
len(df.index)

52

In [103]:
len(df.columns)

5

Now we have to clean up the names of the titles. We are going to use the str.split() command to split the names at the colon. Then we will re-assign the names to the columns of the DataFrame. This process just makes the names look cleaner.

In [104]:
names_ids = df.columns.str.split(':')
df.columns = names_ids.str[0]
df.head(3)

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2018-07-29         27        82                 15          7              3
2018-08-05         26        84                 15          7              3
2018-08-12         24        76                 22          6              2

<a id='Working With Rows and Columns'></a>
## Working With Rows and Columns

When using DataFrames, you might have to access the values of a certain row or column. You are able to do this in a few different ways:

- Brackets
    - [ ] Single brackets with one value will return a Series
    - [ ] Single brackets with many values will return a DataFrame
    - [[ ]] Double brackets will return a DataFrame
- Selecting Rows
    - iloc[ ] with a number will select that row (ex: df.iloc[2])
    - loc[ ] with a name will select that row (ex: df.loc['2018-08-12'])
- Selecting Columns
    - A set of brackets with a name or number will select that column (ex: df[Minecraft])
    
**Important Note: When accessing data with an index number, the first index value is 0, not 1. Counting is as follows: 0, 1, 2, 3, etc.**

### Rows

These first two commands will output the third row of data in two different ways. The first is as a series, because we are using one set of brackets. The second is a dataframe, because there are two sets of brackets.

In [105]:
df.iloc[2]

Minecraft            24
Fortnite             76
World of Warcraft    22
Overwatch             6
Rocket League         2
Name: 2018-08-12, dtype: int64

In [106]:
df.iloc[[2]]

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2018-08-12         24        76                 22          6              2

This next example shows multiple rows. Notice that single brackets are being used, but a dataframe is still the output. Also, be careful which indexes are being passed into the brackets. The first index value **will** be included, but the last value **will not**.

In [107]:
df.iloc[2:5]

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2018-08-12         24        76                 22          6              2
2018-08-19         22        88                 20          6              2
2018-08-26         20        80                 18          7              3

If you do not know the index of the row you want to see, you can pass the name of the row instead. Notice that the amount of brackets used and the amount of rows being passed changes if the output is a series or dataframe.

In [108]:
df.loc['2018-08-12']

Minecraft            24
Fortnite             76
World of Warcraft    22
Overwatch             6
Rocket League         2
Name: 2018-08-12, dtype: int64

In [109]:
dates = ['2018-08-26', '2019-03-31']
df.loc[dates]

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2018-08-26         20        80                 18          7              3
2019-03-31         24        50                  7          4              2

In [110]:
df.loc[['2018-08-26']]

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2018-08-26         20        80                 18          7              3

### Columns

Columns are much simpler than rows, because you do not have to remember whether to use loc or iloc. instead, you just put the name or names of the columns into single or double brackets. Again, the number of names and the amount of brackets has an impact on the data being a series or dataframe. We can also use head() so we only see the first few lines of data, rather than the whole column.

In [111]:
df['Fortnite'].head()

2018-07-29    82
2018-08-05    84
2018-08-12    76
2018-08-19    88
2018-08-26    80
Name: Fortnite, dtype: int64

In [112]:
df[['Fortnite']].head()

            Fortnite
2018-07-29        82
2018-08-05        84
2018-08-12        76
2018-08-19        88
2018-08-26        80

In [113]:
names = ['Fortnite', 'Minecraft', 'Rocket League']
df[names].head()

            Fortnite  Minecraft  Rocket League
2018-07-29        82         27              3
2018-08-05        84         26              3
2018-08-12        76         24              2
2018-08-19        88         22              2
2018-08-26        80         20              3

<a id='Data Operations'></a>
## Data Operations

If you just want the value of adding all the items in a column, the sum() command will add them up and give the output.

In [114]:
df['Overwatch'].sum()

266

You can also do math with the rows and columns. Just use any sign (+, -, *, /, %, etc) on the values from each of the rows or columns and you will be able to do that opperation on the numbers and give the output in a new line. You can put the values you get into a row or column that does not exist, and pandas will create it for you.

In [115]:
df['Total'] = df['Minecraft'] + df['Fortnite'] + df['World of Warcraft'] + df['Overwatch'] + df['Rocket League']
df.head()

,Minecraft,Fortnite,World of Warcraft,Overwatch,Rocket League,Total
2018-07-29,27,82,15,7,3,134
2018-08-05,26,84,15,7,3,135
2018-08-12,24,76,22,6,2,130
2018-08-19,22,88,20,6,2,138
2018-08-26,20,80,18,7,3,128

In [116]:
#This code loops through every value and adds it to a total,
#then divides the total by the number of rows and adds it
#to a new row on the bottom
num = 0
for i in range(0, len(df.index)):
    num += df.iloc[i]
    df.loc['Average'] = num / len(df.index)
    
df.tail()

,Minecraft,Fortnite,World of Warcraft,Overwatch,Rocket League,Total
2019-06-30,56.000000,42.000000,11.000000,4.000000,3.000000,116.000000
2019-07-07,60.000000,41.000000,10.000000,4.000000,2.000000,117.000000
2019-07-14,66.000000,47.000000,9.000000,5.000000,2.000000,129.000000
2019-07-21,68.000000,44.000000,9.000000,7.000000,3.000000,131.000000
Average,28.150943,62.679245,9.358491,5.018868,2.226415,107.433962

<a id='Deleting Rows and Columns'></a>
## Deleting Rows and Columns

The drop() command will remove any row that you don't want in your data, and the del command can be put in front of the call to a column. Pass the name of the row you want to remove into the parentheses or the column in square brackets, and look at the table to see that the row or column is now gone. From this point forward, it will not be present in the data. If you want to change that, just run the read_csv() command in the second code cell, and the change will be undone. You will have to re-run some of the cells below it if you changed the data in any other ways.

In [117]:
df = df.drop('Average')
df.tail()

,Minecraft,Fortnite,World of Warcraft,Overwatch,Rocket League,Total
2019-06-23,48.0,44.0,11.0,4.0,3.0,110.0
2019-06-30,56.0,42.0,11.0,4.0,3.0,116.0
2019-07-07,60.0,41.0,10.0,4.0,2.0,117.0
2019-07-14,66.0,47.0,9.0,5.0,2.0,129.0
2019-07-21,68.0,44.0,9.0,7.0,3.0,131.0

In [118]:
del df['Total']
df.head()

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2018-07-29       27.0      82.0               15.0        7.0            3.0
2018-08-05       26.0      84.0               15.0        7.0            3.0
2018-08-12       24.0      76.0               22.0        6.0            2.0
2018-08-19       22.0      88.0               20.0        6.0            2.0
2018-08-26       20.0      80.0               18.0        7.0            3.0

<a id='Filtering the Outputs'></a>
## Filtering the Outputs

You can use the max() and idxmax() commands to find the largest number in the column and the row that contains the largest number, respectively.

In [119]:
df['Fortnite'].max()

100.0

In [120]:
df['Fortnite'].idxmax()

'2018-09-23'

You can also locate certain rows that meet some criteria. In these cells, we filter the outputs to only show rows that have data over a certain threshold. We can also just show certain columns.

In [121]:
df.loc[df['Minecraft']>50]

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2019-06-30       56.0      42.0               11.0        4.0            3.0
2019-07-07       60.0      41.0               10.0        4.0            2.0
2019-07-14       66.0      47.0                9.0        5.0            2.0
2019-07-21       68.0      44.0                9.0        7.0            3.0

In [122]:
df.loc[(df['Minecraft']>df['Fortnite']) & (df['Minecraft']>50)]

            Minecraft  Fortnite  World of Warcraft  Overwatch  Rocket League
2019-06-30       56.0      42.0               11.0        4.0            3.0
2019-07-07       60.0      41.0               10.0        4.0            2.0
2019-07-14       66.0      47.0                9.0        5.0            2.0
2019-07-21       68.0      44.0                9.0        7.0            3.0

In [123]:
df[['World of Warcraft', 'Overwatch']]

            World of Warcraft  Overwatch
2018-07-29               15.0        7.0
2018-08-05               15.0        7.0
2018-08-12               22.0        6.0
2018-08-19               20.0        6.0
2018-08-26               18.0        7.0
2018-09-02               17.0        5.0
2018-09-09               14.0        5.0
2018-09-16               13.0        5.0
2018-09-23               12.0        4.0
2018-09-30               10.0        5.0
2018-10-07                9.0        7.0
2018-10-14                9.0        4.0
2018-10-21                8.0        5.0
2018-10-28                9.0        8.0
2018-11-04                9.0        8.0
2018-11-11                8.0        6.0
2018-11-18                8.0        7.0
2018-11-25                7.0        5.0
2018-12-02                7.0        6.0
2018-12-09                8.0        6.0
2018-12-16                7.0        5.0
2018-12-23                8.0        5.0
2018-12-30                8.0        5.0
2019-01-06                7.0        7.0
2019-01-13                6.0        5.0
2019-01-20                7.0        6.0
2019-01-27                7.0        5.0
2019-02-03                7.0        4.0
2019-02-10                7.0        4.0
2019-02-17                6.0        5.0
2019-02-24                6.0        6.0
2019-03-03                7.0        4.0
2019-03-10                8.0        4.0
2019-03-17                7.0        4.0
2019-03-24                7.0        3.0
2019-03-31                7.0        4.0
2019-04-07                7.0        4.0
2019-04-14                7.0        5.0
2019-04-21                7.0        4.0
2019-04-28                7.0        4.0
2019-05-05                7.0        4.0
2019-05-12               10.0        4.0
2019-05-19               11.0        5.0
2019-05-26               11.0        4.0
2019-06-02               10.0        5.0
2019-06-09                9.0        4.0
2019-06-16               10.0        4.0
2019-06-23               11.0        4.0
2019-06-30               11.0        4.0
2019-07-07               10.0        4.0
2019-07-14                9.0        5.0
2019-07-21                9.0        7.0

Now if we put some of the ideas from above together, we will be able to show certain columns and certain rows. This command is so common that you can even leave out 'iloc' and you will get the same result. Just put the names of the columns you want in double brackets and follow that by the range of the index of the rows you want in single brackets.

In [124]:
df[['World of Warcraft', 'Overwatch', 'Rocket League']].iloc[10:15]

            World of Warcraft  Overwatch  Rocket League
2018-10-07                9.0        7.0            2.0
2018-10-14                9.0        4.0            2.0
2018-10-21                8.0        5.0            2.0
2018-10-28                9.0        8.0            2.0
2018-11-04                9.0        8.0            2.0

In [125]:
df[['World of Warcraft', 'Overwatch', 'Rocket League']][10:15]

            World of Warcraft  Overwatch  Rocket League
2018-10-07                9.0        7.0            2.0
2018-10-14                9.0        4.0            2.0
2018-10-21                8.0        5.0            2.0
2018-10-28                9.0        8.0            2.0
2018-11-04                9.0        8.0            2.0

If you don't know the index of the rows you want, you can always just enter the names of the rows in double brackets with the loc command.

In [126]:
df[['World of Warcraft', 'Overwatch', 'Rocket League']].loc[['2018-10-07', '2018-10-14', '2018-10-21']]

            World of Warcraft  Overwatch  Rocket League
2018-10-07                9.0        7.0            2.0
2018-10-14                9.0        4.0            2.0
2018-10-21                8.0        5.0            2.0

<a id='Fixing Missing Data'></a>
## Fixing Missing Data

Now we are going to create a new table, but leave out some values. For this example, it will be easiest to use the csv file I created, because I have flipped the headers for the rows and columns. I just transfered over a few of the numbers, and left out some of the data. We are going to be working with missing values and how pandas can help you finish off the data. The command fillna() is going to be used in most of these examples.

In [127]:
df2 = pd.read_csv('TrendsDataMissing.csv', index_col=0, skiprows=2)
df2

,2018-07-29,2018-08-05,2018-08-12,2018-08-19,2018-08-26,2018-09-02
Minecraft,27,26.0,24.0,22.0,20.0,19.0
Fortnite,82,NaN,76.0,88.0,80.0,75.0
World of Warcraft,15,15.0,NaN,20.0,18.0,NaN
Overwatch,7,7.0,6.0,NaN,7.0,NaN
Rocket League,3,3.0,2.0,2.0,NaN,3.0

The first way is the easiest, and just fills in all the missing numbers with one value, in this case, 200.

In [128]:
df2.fillna(value=200)

,2018-07-29,2018-08-05,2018-08-12,2018-08-19,2018-08-26,2018-09-02
Minecraft,27,26.0,24.0,22.0,20.0,19.0
Fortnite,82,200.0,76.0,88.0,80.0,75.0
World of Warcraft,15,15.0,200.0,20.0,18.0,200.0
Overwatch,7,7.0,6.0,200.0,7.0,200.0
Rocket League,3,3.0,2.0,2.0,200.0,3.0

The next method is filling forward, which takes the previous value and assigns that to the missing number.

In [129]:
df2.fillna(method='ffill', axis=1)

,2018-07-29,2018-08-05,2018-08-12,2018-08-19,2018-08-26,2018-09-02
Minecraft,27.0,26.0,24.0,22.0,20.0,19.0
Fortnite,82.0,82.0,76.0,88.0,80.0,75.0
World of Warcraft,15.0,15.0,15.0,20.0,18.0,18.0
Overwatch,7.0,7.0,6.0,6.0,7.0,7.0
Rocket League,3.0,3.0,2.0,2.0,2.0,3.0

Additionally, you can fill backwards, taking the next value and assigning it back. You may notice that there are a few values still missing in the last column of the table, and that is because there are no values to backfill the last column with. This would also happen using forward filling if you are missing values in the first column.

In [130]:
df2.fillna(method='bfill', axis=1)

,2018-07-29,2018-08-05,2018-08-12,2018-08-19,2018-08-26,2018-09-02
Minecraft,27.0,26.0,24.0,22.0,20.0,19.0
Fortnite,82.0,76.0,76.0,88.0,80.0,75.0
World of Warcraft,15.0,15.0,20.0,20.0,18.0,NaN
Overwatch,7.0,7.0,6.0,7.0,7.0,NaN
Rocket League,3.0,3.0,2.0,2.0,3.0,3.0

Finally, you can use the interpolate() command with the linear method to fill the missing value with a number between the one before and after. There are also a few different methods that you can use to change the number that will be given, such as quadratic, cubic, polynomial, etc.

In [131]:
df2.interpolate(method='linear', axis=1)

,2018-07-29,2018-08-05,2018-08-12,2018-08-19,2018-08-26,2018-09-02
Minecraft,27.0,26.0,24.0,22.0,20.0,19.0
Fortnite,82.0,79.0,76.0,88.0,80.0,75.0
World of Warcraft,15.0,15.0,17.5,20.0,18.0,18.0
Overwatch,7.0,7.0,6.0,6.5,7.0,7.0
Rocket League,3.0,3.0,2.0,2.0,2.5,3.0

<a id='Using Numpy with Pandas'></a>
## Using Numpy with Pandas

You can convert numpy arrays to dataframes, and name the rows and columns whatever you wish. In this example, we use a random number generator to make a 10 by 3 array.

In [132]:
import numpy as np
a = np.random.rand(10, 3)
a

array([[0.79376821, 0.25194241, 0.30670058],
       [0.8537604 , 0.22802689, 0.94228642],
       [0.72382476, 0.66575483, 0.51706419],
       [0.63635301, 0.09476073, 0.62811839],
       [0.08418821, 0.16466804, 0.07147362],
       [0.66877043, 0.64838755, 0.26416482],
       [0.00866789, 0.69951981, 0.74034517],
       [0.4299035 , 0.25736572, 0.38382867],
       [0.50947085, 0.5437724 , 0.3066824 ],
       [0.88286046, 0.04423714, 0.18551214]])

In [133]:
df3 = pd.DataFrame(a, columns=['Col 1', 'Col 2', 'Col 3'], index=['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5', 'Row 6', 'Row 7', 'Row 8', 'Row 9', 'Row 10'])
df3

           Col 1     Col 2     Col 3
Row 1   0.793768  0.251942  0.306701
Row 2   0.853760  0.228027  0.942286
Row 3   0.723825  0.665755  0.517064
Row 4   0.636353  0.094761  0.628118
Row 5   0.084188  0.164668  0.071474
Row 6   0.668770  0.648388  0.264165
Row 7   0.008668  0.699520  0.740345
Row 8   0.429904  0.257366  0.383829
Row 9   0.509471  0.543772  0.306682
Row 10  0.882860  0.044237  0.185512

<a id='Using Other File Formats in Pandas'></a>
## Using Other File Formats in Pandas

Lastly, there are a few other file formats that can be read by pandas. They include json, html, excel, and hdf, and they should work the same way as the csv file does.

<a id='Summary'></a>
## Summary

Congradulations! Now you know the basics of using pandas! We have learned how to create a new csv file from Google Trends, import it into pandas, look at the data, create and delete rows and columns, fill missing values, and much more! I hope you learned something, and have a good rest of your day!

Miss anything? Go back and review!

[Introduction](#Introduction)

[Creating your own CSV file](#Creating your own CSV file)

[Getting Started](#Getting Started)

[Working With Rows and Columns](#Working With Rows and Columns)

[Data Operations](#Data Operations)

[Deleting Rows and Columns](#Deleting Rows and Columns)

[Filtering the Outputs](#Filtering the Outputs)

[Fixing Missing Data](#Fixing Missing Data)

[Using Numpy with Pandas](#Using Numpy with Pandas)

[Using Other File Formats in Pandas](#Using Other File Formats in Pandas)

[Summary](#Summary)